services:
  traefik:
    image: traefik:v3.6.0 # use the latest version
    container_name: traefik
    restart: unless-stopped # always
    security_opt:
      - no-new-privileges:true

    ports:
      - "80:80"
      - "443:443"
      # Port 8080 is not required if you access the dashboard via a subdomain
      # as recommended for security and HTTPS integration.
      # If you absolutely must expose it on a direct port (less recommended in production),
      # you should at least protect it with firewall rules.
      # - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # Allows Traefik to communicate with Docker
      - ./acme.json:/letsencrypt/acme.json # Persistent Volume for Let's Encrypt Certificates
    networks:
      - traefik_proxy # Connect Traefik to the shared network
    command:
      # EntryPoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"

      # Managing SSL Certificates with Let's Encrypt
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myresolver.acme.email=${LETSENCRYPT_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json" # Certificate storage

      # Attach the static configuration tls.yaml file that contains the tls configuration settings
      # - "--providers.file.filename=/dynamic/tls.yaml"

      # Providers
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik_proxy"

      # API & Dashboard
      - "--api.dashboard=true"
      - "--api.insecure=false"

      # Observability
      # - "--log.level=DEBUG"
      - "--log.level=INFO"
      - "--accesslog=true"
      # - "--metrics.prometheus=true"
    labels:
      # Enable self‑routing for Traefik service
      - "traefik.enable=true"

      # Router for dashboard
      - "traefik.http.routers.dashboard.rule=Host(`${TRAEFIK_DASHBOARD_HOST}`)"
      - "traefik.http.routers.dashboard.entrypoints=websecure" # Le tableau de bord écoute directement sur HTTPS
      - "traefik.http.routers.dashboard.service=api@internal"
      # - "traefik.http.routers.dashboard.tls=true"
      - "traefik.http.routers.dashboard.tls.certresolver=myresolver" # Utilise Let's Encrypt

      # Basic‑auth middleware
      - "traefik.http.middlewares.dashboard-auth.basicauth.users=${DASHBOARD_USERNAME}:${DASHBOARD_PASSWORD_HASH}"
      - "traefik.http.routers.dashboard.middlewares=dashboard-auth@docker"
      # - "traefik.http.routers.dashboard.middlewares=dashboard-auth" # Applique l'authentification

      # ------ ------ ------ ------ ------ ------
      # Router de redirection pour le tableau de bord (www vers non-www)
      - "traefik.http.routers.dashboard-www.rule=Host(`www.${TRAEFIK_DASHBOARD_HOST}`)"
      - "traefik.http.routers.dashboard-www.entrypoints=websecure"
      # - "traefik.http.routers.dashboard-www.tls=true"
      - "traefik.http.routers.dashboard-www.tls.certresolver=myresolver"
      - "traefik.http.routers.dashboard-www.middlewares=www-redirect@docker"

      # Redirection Middleware
      - "traefik.http.middlewares.www-redirect.redirectregex.regex=^https://www\\.(.*)"
      - "traefik.http.middlewares.www-redirect.redirectregex.replacement=https://$${1}"
      - "traefik.http.middlewares.www-redirect.redirectregex.permanent=true"
networks:
  traefik_proxy:
    name: traefik_proxy